#page-main-header.page-header.mb-5

    .container

        .row.align-items-center

            .col-12.col-lg-6

                h3#curso-titulo-componente.curso-subtitulo APLICACIÓN DE LA METODOLOGÍA SENA PARA EL DISEÑO CURRICULAR
                h1#curso-titulo-tema.curso-titulo Estructuración del programa de formación

                .brand-line-primary.brand-line-primary--black

                .keywords
                    span.badge.badge-pill.badge-light.mr-2 #SofiaPlus
                    span.badge.badge-pill.badge-light.mr-2 #EstadoPrograma
                    span.badge.badge-pill.badge-light.mr-2 #Validación

                .barra-dots.mt-5
                    img.img-fluid(src='assets/images/header/icon_dots.svg', alt='alt')



            .col-12.col-lg-6
                .d-none.d-lg-block
                    img(src="assets/images/header/header_media.svg").curso-imagen
