.curso-portada

    .row.align-items-center

        .col-12.col-lg-6

            h3.curso-subtitulo APLICACIÓN DE METODOLOGÍA SENA PARA DISEÑO CURRICULAR
            h1.curso-titulo Validación metodológica del programa de formación

            .brand-line-primary

            p.curso-descripcion A través del componente formativo Validación metodológica del Programa de formación, el aprendiz interpreta la información para el ingreso de un diseño curricular al aplicativo SOFIA PLUS.


            a.curso-btn-iniciar.btn.btn-light(href="main.html")
                span Iniciar Curso

        .col-12.col-lg-6
            .d-none.d-lg-block
                img(src="assets/images/header/header_media.svg")