.container

    table.table.table-bordered.table-striped
        thead.thead-dark
            tr
                th Autor
                th Tipo de material
                th Enlace del recurso

        tbody
            tr
                td 
                    strong Clasificación de ocupaciones C N O  
                td PDF
                td 
                    a(href="https://observatorio.sena.edu.co/Content/pdf/cno_version_2018.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar