include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h1 3. Registrar información básica del diseño

    p Una vez definidos los contenidos del programa de acuerdo con el nivel de formación y el estado del mismo, se realiza el registro en la plataforma del Sistema de Gestión Académico Administrativo.

    p.text-center.my-5
        img(src="assets/images/pages/tema-3/sofia-plus-3.svg").img-fluid


    p En el registro se contemplan tres fases que son:

    p.text-center.my-5
        img(src="assets/images/pages/tema-3/fases.svg").img-fluid

    ul
        li.mb-4  
            strong Fase 1: 
            | ingreso de la información básica, de acuerdo con el nivel del programa y en el cual se obtiene el código y la versión de este.

        li.mb-4
            strong Fase 2: 
            | ingreso de la información complementaria del programa como son las competencias y paso del programa de un estado de análisis a elaboración.

        li  
            strong Fase 3: 
            | y finalmente, se pasa a estado de ejecución donde el programa ya puede ser ofertado

    p.my-5 Por consiguiente, el metodólogo de diseño curricular debe participar en cada una de estas fases para identificar el estado y puesta en ejecución del diseño a partir de la oferta.