include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h1 1. Introducción

    p En la plataforma del Sistema de Gestión Académico - Administrativo, se establecen los estados que se usan para determinar los diferentes ingresos de la información y hacer seguimiento para no permitir que el programa cambie de estado en los tiempos establecidos para tales cambios, debido a que implica la generación de una nueva versión. En la guía de diseño curricular se definen los diferentes estados y responsables en estos de un programa.

    p El registro del diseño curricular en la plataforma del Sistema Académico Administrativa (Sofia Plus), se debe realizar una vez se cuente con toda la información requerida de acuerdo con el nivel de formación del programa y así obtener el código de este.

    p.text-center.my-5
        img(src="assets/images/pages/tema-1/sofia-plus.svg")