include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h1 2. Identificar las etapas de para ingreso de información del diseño.


    .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/IYFfV6sZx1w', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    section.my-5
        a(href="media/documentos/Anexo_3_1.pdf" target="_blank").media-link      
            img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
            .media-link-title
                p #[strong Anexo]. Estado de los programas <br><small>Diapositivas usadas en el video</small>


    p En la Plataforma del Sistema de Gestión Académico-Administrativa (Sofia Plus), se definen los diferentes estados de ingreso de un diseño los cuales pueden ser consultados en la Guía de Diseño Curricular.

    .d-flex.my-5
        figure.mr-4
            img(src="assets/images/pages/tema-2/icon-1.svg")

        p.flex-grow-1 Inicialmente para realizar el ingreso de un diseño curricular a la Plataforma de Gestión Académico-Administrativa, se debe contar con el rol de Equipo de diseño y Desarrollo Curricular.

    .d-flex.my-5
        figure.mr-4
            img(src="assets/images/pages/tema-2/icon-2.svg")

        p.flex-grow-1 Para el ingreso de un diseño curricular para nivel técnico o tecnológico se requiere contar con los perfiles de egreso e ingreso aprobados por sector productivo; adicionalmente el nombre de la denominación, justificación, duración, estrategia metodológica, red de conocimiento y la ocupación; así como el desarrollo curricular.

    .d-flex.my-5
        figure.mr-4
            img(src="assets/images/pages/tema-2/icon-3.svg")

        p.flex-grow-1 Para el ingreso del diseño de una formación complementaria, se debe tener en cuenta para la fase inicial la denominación, justificación, duración, estrategia metodológica, red de conocimiento y la ocupación.

    .d-flex.my-5
        figure.mr-4
            img(src="assets/images/pages/tema-2/icon-4.svg")

        p.flex-grow-1 El ingreso de la información básica del diseño está asociado con un estado y el responsable de cada una de estas acciones para no dejar vencer los términos de este. 

    .d-flex.my-5
        figure.mr-4
            img(src="assets/images/pages/tema-2/icon-5.svg")

        p.flex-grow-1 Recuerde que en la guía de diseño curricular se establecen los estados del programa y el responsable para que el programa cambie de estado. Adicionalmente, ningún diseño puede ser registrado si no se encuentra en el Plan de Diseño de la Red correspondiente.

    p.text-center.my-5
        a(href="media/anexo_2/", target="_blank")
            img(src="assets/images/pages/tema-2/sofia-plus-2.svg")



