//Colores base del material de formación
$brand-color-dark: #3C3C3C;
$text-color-dark: #ffffff;

//Esto lo puede cambiar poe el color que quiera q sugiera el tema. (sE QUITA EL lighten)
$brand-color-light: #3C3C3C;
$text-color-light: #fff;
$brand-color-secondary: #E6E5E7;